body { font-family: 'Josefin Sans', sans-serif; }
body > .container{ width:90%; }
.brand-logo, h1 { 
	font-family: 'Oswald', sans-serif; 
	text-transform: uppercase; 
	text-align: center; 
	font-size: 3.8em !important;
	margin:25px;
}
nav{
	height:110px;
}
#header{
	margin-top:15px;
}
#header p{ 
	font-size: 1.6em; 
	padding: 20px; 
	text-align: center; 
}
#header hr{ width: 80%; }
#header p#text { 
	font-size: 1.8em;
	max-width: 90%;
	min-width: 70%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top:0px;
}
#header p a{
	color: darkturquoise;
	font-family: 'Oswald';
	text-transform: uppercase;
	text-decoration: underline;
}

.emph { color: #EF5350 !important; font-weight: bold;}

ul.listblock{
	padding-left : 30px;
	/*border-left: 1px solid #ddd;*/
}
ul.listblock li{
	display: inline-block;
	padding-right:30px;
	padding-bottom:10px;
	font-size:1.4em;
}

.thing{ padding:10px;  }
.thing h3 { margin-top:0px; }

img{
	/*max-width: 300px !important;*/
}